@import "../styles/init.scss";

.topContent {
  h1 {
    font-size: calc(3.3vw + 1.8rem);
  }
  h2 {
    font-size: calc(1vw + 1rem);
  }
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.zone1 {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 4rem;
  h1 {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  > * {
    flex: 1 0 100%;
    padding: 3rem 2.5rem;
    @include breakpoint($md) {
      max-width: 600px;
      flex: 1 1 0px;
    }
    h2 {
      font-size: 2.5rem;
    }
  }
}

.aboutUs {
  margin-left: auto;
  background-color: #7e3e00;
  color: white;
  position: relative;
  &_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: url('../public/images/worship2.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    filter: contrast(50%) blur(2px);
    transition: filter 0.4s ease;
  }
  &_title,
  &_content {
    position: relative;
    z-index: 1;
  }
  &:hover .aboutUs_image {
    filter: contrast(50%) blur(5px);
  }
}

.services {
  margin-right: auto;
  h2 {
    color: $red;
  }
  ul {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
  }
}

.zone2 {
  text-align: center;
  padding: 2rem;
  background-color: #d8e2ed;
  color: darken($gray, 15%);
  margin-top: 4rem;
  h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &_links {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
