@import "../styles/init.scss";

$top-img-height: 500px;

.outerContainer {
  position: relative;
}

.mobileSidebar {
  transition: left 0.6s ease;
  width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  max-width: 100%;
  height: 100vh;
  background: #5f626c;
  z-index: 101;
  display: flex;
  flex-direction: column;
  padding: 2.5em 1.5em 0;
  &[data-active="true"] {
    left: 0;
  }

  a {
    color: $light;
    text-decoration: none;
    padding: 0.8em;
    font-weight: 600;
    font-size: 1.15em;
  }
  button {
    position: absolute;
    top: 15px;
    right: 20px;
    color: $light;
    font-size: 2.6rem;
    z-index: 1;
    line-height: 1.9rem;
  }
}

.pageWrap {
}

.pageOverlay {
  transition: opacity 0.6s ease;
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  &[data-active="true"] {
    z-index: 100;
    opacity: 0.5;
  }
}


.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainHeader {
  transition-property: padding-top, padding-bottom, background-color, max-height, box-shadow;
  transition-duration: 1s;
  transition-timing-function: ease;
  padding-top: .75rem;
  padding-bottom: .75rem;
  background: #ffffff00;
  max-height: 105px;
  box-shadow: 0;

  position: fixed;
  z-index: 1;
  width: 100%;
  height: 25vh;
  &_inner {
    margin: 0 auto;
    max-width: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    @include breakpoint(315px) {
      gap: 1rem;
    }
    > a {
      max-width: 218px;
      max-height: 75px;
      aspect-ratio: 218 / 75;
      svg {
        fill: white;
        transition: fill 1s ease;
        width: 100%;
        height: 100%;
      }
    }
    nav {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      gap: 1rem;
      display: none;
      @include breakpoint($md) {
        display: flex;
      }
      a {
        transition: color 1s ease;
        color: $light;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
    button {
      display: flex;
      align-items: center;
      @include breakpoint($md) {
        display: none;
      }
      svg {
        transition: fill 1s ease;
        fill: $light;
      }
    }
  }
  &[data-little="true"] {
    padding-top: .3rem;
    padding-bottom: .3rem;
    background: #ffffffff;
    max-height: 60px;
    box-shadow: 0 3px 45px rgb(0 0 0 / 15%);
    @include breakpoint($md) {
      max-height: 80px;
    }
    .mainHeader_inner {
      > a {
        svg {
          fill: black;
        }
      }
      nav {
        a {
          color: $gray;
        }
      }
      button {
        svg {
          fill: $gray;
        }
      }
    }
  }
}

.mainImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-img-height;
  overflow: hidden;
  z-index: -1;
  > img {
    min-height: $top-img-height;
    width: auto !important;
    height: auto !important;
    min-width: 100%;
    transform: translate(-50%, -50%);
    top: 50% !important;
    left: 50% !important;
  }
  &[data-full-screen="true"] {
    height: 100vh;
    > img {
      min-height: 100vh;
    }
  }
}

.mainContent {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  font-size: 1.125rem;
  line-height: 1.75rem;;
}
.topContent {
  text-align: center;
  color: $light;
  width: calc(100% - 120px);
  max-width: calc(60vw + 150px);
  margin: 0 auto;
  height: $top-img-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &[data-full-screen="true"] {
    height: 100vh;
  }
}
.defaultMainTitle {
  font-size: calc(3.0vw + 1.6rem);
}

.mainFooter {
  margin-top: 5rem;
  color: $light;
  background-color: darken($sky-blue, 5%);
}

.mainFooterInner {
  $footer-padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: $footer-padding;
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;
  font-size: 1.2rem;
}

.footer1 {
  display: grid;
  grid-gap: 1.7rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  @include breakpoint($md) {
    grid-template-columns: 225px 3.5fr 1fr 1fr;
  }
  > * {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    @include breakpoint($md) {
      justify-content: flex-start;
      text-align: left;
    }
    a {
      color: lighten($sky-blue, 35%);
      text-decoration: none;
      &:hover {
        color: lighten($sky-blue, 55%);
      }
    }
  }
  &_logo {
    svg {
      fill: white;
    }
  }
  &_links {
    display: flex;
    flex-wrap: wrap;
    line-height: 2rem;
    a {
      width: 100%;
    }
  }
  &_social {
    h3 {
      width: 100%;
      margin: 0 0 0.5rem 0;
    }
    > div {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      > div {
        display: flex;
        gap: 0.4rem;
      }
    }
  }
}

.footer2 {
  padding: 1rem 0;
  background-color: darken($sky-blue, 15%);
  text-align: center;
  @include breakpoint($md) {
    text-align: left;
  }
}
