html,
body {
  font-family: 'Futura Std', sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	all: unset;
  cursor: pointer;
}

.page-max-width {
  margin: 0 auto;
  max-width: 1200px;
}

.page-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-weight: 600;
}
h2 {
  font-weight: 500;
}
