@import "breakpoint-sass";

$top-img-height: 575px;
$sm: 576px;
$md: 768px;

.outerContainer {
  position: relative;
}

.mobileSidebar {
  transition: left 1s ease;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #5f626c;
  z-index: 101;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  a {
    color: white;
    text-decoration: none;
  }
}

.pageWrap {
}

.pageOverlay {
  transition: opacity 1s ease;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}


.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageMaxWidth {
  margin: 0 auto;
  max-width: 1200px;
}

.mainHeader {
  padding: .75rem 0;
  position: fixed;
  width: 100%;
  &_inner {
    margin: 0 auto;
    max-width: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    nav {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      gap: 1rem;
      display: none;
      @include breakpoint($md) {
        display: flex;
      }
      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    button {
      display: block;
      @include breakpoint($md) {
        display: none;
      }
      svg {
        fill: white;
      }
    }
  }
  &__full {
    background-color: red;
  }
}

.mainImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-img-height;
  overflow: hidden;
  z-index: -1;
  > img {
    aspect-ratio: 40 / 17;
    min-height: $top-img-height;
    width: auto !important;
    height: auto !important;
    min-width: 100%;
    transform: translate(-50%, -50%);
    top: 50% !important;
    left: 50% !important;
  }
  &__full {

  }
}

.mainContent {
  padding-top: 1.5rem;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  font-size: 1.125rem;
  &_inner {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    > main {
      width: 100%;
    }
  }
}
.topContent {
  text-align: center;
  color: white;
  width: calc(100% - 120px);
  max-width: 800px;
  margin: 0 auto;
  height: $top-img-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainFooter {
  padding: 1rem 0;
}
